
<div class="container-fluid col-md-10 col-centered">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1><%= @product.title %> </h1>
      <p>
        <%= simple_format(@product.description) %>
      </p>
    </div>
  </div>
</div>
